.divi{
  background-color: rgb(99, 189, 189);
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  

}
/* .divi{
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
} */

.btn-add{
  color: aliceblue;
  background-color: rgb(40, 165, 40);
  padding: 10px 10px;
  margin: 10px 10px;
  cursor: pointer;
}
.btn-add:hover{
  background-color: green;
}
.btn-sub{
  color: aliceblue;
  background-color: rgb(224, 35, 25);
  padding: 10px 10px;
  margin: 10px 10px;
  cursor: pointer;
}
.btn-sub:hover{
  background-color: rgb(137, 16, 16);
}

.btn-reset{
  color: aliceblue;
  background-color: rgb(25, 52, 224);
  padding: 10px 10px;
  margin: 10px 10px;
  cursor: pointer;
}

.btn-reset:hover{
  background-color: rgb(29, 15, 95);
}

.name{
  color: black;
  font-size: 2rem;
  font-weight: bold;

}
.st{
  align-items: center;
  text-align: center;
  color: rgb(232, 20, 214);
}